.hero{
  width: 100vw;
  padding: 10em 4em;
  min-height: 100vh;
  background: #FFFFF0;
  color: #065666;
}

.headerText{
  font-weight: bold;
  font-size: 3em;
  margin: 0;
}

.textemail{
  margin: 0;
  color: #C53030;
  font-weight: 300;
}